$animationDuration: 250ms;
$animationBezier: ease-in-out;

%hoverFocusTrans {
  transition-duration: $animationDuration;
  transition-timing-function: $animationBezier;
}

a,
button {
  @extend %hoverFocusTrans;
}

// .section-head__title {
//   animation-name: fadeToRight;
//   animation-duration: $animationDuration;
//   animation-timing-function: $animationBezier;

//   @keyframes fadeToRight {
//     0% {
//       opacity: 0;
//       transform: translateX(-50px);
//     }

//     100% {
//       opacity: 1;
//       transform: translateX(0);
//     }
//   }
// }
