// Фон. Білий
$bgPrimaryColor: #ffffff;
// Фон. Світло-рожевий
$bgSecondaryColor: #fff5f6;
// Фон. Акцентовано рожевий
$bgAccentColor: #ffb8ca;
// Фон. Сайдбар.
$bgMobileMenu: #e17992;

$borderColor: #e18298;

// Іконка
$iconLightColor: #fea5bb;

// Фон кнопки при ховері.
// Нюанс: в макеті вони не усюди - будемо розбиратись.
$bgBtnHover: #ecebeb;
$bgBtnInvertHover: #c7133e;

// Заголовки секцій, текст в окремх кнопках, хвер іконок
$accentColor: #d41443;

// Альтернативний колір акценту в іконці будинку і останній кнопці
$altAccentColor: #d31342;

// Текст
$accentTextColor: #ffa5ba;
$lightTextColor: #ffffff;
$middleTextColor: #907e82;
$darkTextColor: #000000;
