a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

svg {
  fill: currentColor;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
