<section id="about-us" class="about">
  <div class="about__overlay">
    <div class="container about__container">
      <span class="section-head__label">tradition and love</span>
      <h2 class="section-head__title">how it’s made?</h2>
      <div class="about__content">
        <div class="about__content-picture">
          <picture>
            <source
              srcset="./images/about/cow-desctop1.png 1x, ./images/about/cow-desctop2.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./images/about/cow-tablet1.png 1x, ./images/about/cow-tablet2.png 2x"
              media="(min-width: 768px)"
            />
            <img
              srcset="./images/about/cow-mobile1.png 1x, ./images/about/cow-mobile2.png 2x"
              alt="milk and cow"
            />
          </picture>
        </div>
        <div class="about__description">
          <p class="about__description-primery">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__description-secondary">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat.
          </p>
          <p class="about__description-secondary about__last-text">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button type="button" class="button" data-more-open>Read more</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="more-modal is-hidden" data-more>
  <div class="container more-modal__container">
    <button class="modal__button_close" data-more-close> 
      <svg class="icon-modal-close">
          <use href="./images/icons/sprite.svg#icon-close" width=16px height=16px>
      </svg>      
    </button>
    <div class="more-modal__text">
      <p class="more-modal__item">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo nesciunt modi libero dolores veniam, ipsum tenetur, officia ducimus illum facere, id delectus magnam repellat eius itaque temporibus accusamus iure voluptatem aliquam totam minus dolor debitis. Eum eveniet, at quod ipsum impedit, sunt explicabo, debitis nesciunt numquam obcaecati quisquam tempore aperiam.</p>
    </div>
  </div>
</div>
