<section>
  <div>
        <span>tradition and love</span>
        <h2>how it’s made?</h2>
        <div>
            <picture>
                <source
                  srcset="
                    ../images/about/cow-desctop1.png 1x,
                    ../images/about/cow-desctop2.png 2x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                  ../images/about/cow-tablet1.png 1x,
                  ../images/about/cow-tablet2.png 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                  ../images/about/cow-mobile1.png 1x,
                  ../images/about/cow-mobile2.png 2x
                  "
                  media="(min-width: 320px)"
                />
                <img
                  src="./images/cow-mobile1.png"
                  alt="milk and cow"
                />
              </picture>
            <p>
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
            <p>
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
                in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
                maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat.
            </p>
            <p>Aliquam erat volutpat. Aenean accumsan.</p>
            <button type="button">Read more</button>
        </div>
  </div>
</section>
