<section id="advantages" class="counters" >
  <div class="container">
    <h2 class="section-head--hidded">Advantages</h2>
    <ul class="counters__list">
      <li class="counters__item">
        <span class="counters__number counter">721</span>
        <p class="counters__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="counters__item">
       <div class="counters__block"><span class="counters__number counter">16 </span><span class="counters__number">kg</span></div> 
        <p class="counters__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="counters__item">
        <span class="counters__number counter">84</span>
        <p class="counters__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

    </ul>
  </div>
</section>