<section class="counters">
    <div class="counters-container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="counter__list">
            <li class="counter__item">
                <div>
                    <img class="counter__img" src="../images/advantages/icon1x1.png" alt="middle ice-cream">
                <span class="counter" data-target="721">0</span>
                </div>
                <p class="counter__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="counter__item">
                <div>
                    <img class="counter__img" src="../images/advantages/icon2x1.png" alt="middle ice-cream">
                    <span class="counter" data-target="16">0 Kg</span>
                </div>
                <p class="counter__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li class="counter__item">
                <div>
                    <img class="counter__img" src="../images/advantages/icon3x1.png" alt="middle ice-cream">
                    <span class="counter" data-target="84">0</span>
                </div>
                <p class="counter__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

        </ul>
    </div>
</section>

