<section class="counters">
  <div class="container counters__container">
    <h2 class="section-head--hidded">Advantages</h2>
    <ul class="counters__list">
      <li class="counters__item">
        <span class="counters__number counter" data-target="721">0</span>
        <p class="counters__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="counters__item">
        <span class="counters__number counter" data-target="16">0 <span class="counters__number--text">kg</span></span>
        <p class="counters__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

      <li class="counters__item">
        <span class="counters__number counter" data-target="84">0</span>
        <p class="counters__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>

    </ul>
  </div>
</section>