<section class="contacts">
    <div class="container contacts-container">
        <h2 class="contacts__title">Locations</h2>
        
            <ul class="contacts__list">
                <li class="contacts__item">
                    <div class="contacts-description">
                        <span class="contacts__locations">CAFE</span>
                        <ul class="contacts-description__list">
                            <li class="contacts-description__item">
                                <p class="contacts__information">Chicago</p>
                                <p class="contacts__detail">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="contacts-description__item">
                                <ul class="contacts-schedule__list">
                                    <li class="contacts__information">
                                        <p>Monday - Friday</p>
                                        <p class="contacts__information--color-pink">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li class="contacts__information">
                                        <p>Saturday - Sunday</p>
                                        <p class="contacts__information--color-pink">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="contacts-description__item">
                                <p><a class="contacts__detail" href="tel:+610383766284">+61(0) 383 766 284</a></p>
                                <p><a class="contacts__detail" href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="contacts-description">
                        <span class="contacts__locations contacts__locations--background-color-green">FOODTRUCK</span>
                        <ul class="contacts-description__list">
                            <li class="contacts-description__item">
                                <p class="contacts__information">Los Angeles</p>
                                <p class="contacts__detail">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="contacts-description__item">
                                <ul class="contacts-schedule__list">
                                    <li class="contacts__information">
                                        <p>Monday - Friday</p>
                                        <p class="contacts__information--color-pink">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li class="contacts__information">
                                        <p>Saturday - Sunday</p>
                                        <p class="contacts__information--color-pink">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="contacts-description__item">
                                <p><a class="contacts__detail" href="tel:+610383766284">+61(0) 383 766 284</a></p>
                                <p><a class="contacts__detail" href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="contacts-description">
                        <span class="contacts__locations">CAFE</span>
                        <ul class="contacts-description__list">
                            <li class="contacts-description__item">
                                <p class="contacts__information">New York</p>
                                <p class="contacts__detail">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="contacts-description__item">
                                <ul class="contacts-schedule__list">
                                    <li class="contacts__information">
                                        <p>Monday - Friday</p>
                                        <p class="contacts__information--color-pink">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li class="contacts__information">
                                        <p>Saturday - Sunday</p>
                                        <p class="contacts__information--color-pink">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="contacts-description__item">
                                <p><a class="contacts__detail" href="tel:+610383766284">+61(0) 383 766 284</a></p>
                                <p><a class="contacts__detail" href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        
        <div class="contacts-button">
            <ul class="contacts-button__list">
                <li class="contacts-button__item"><button class="button button--invert" type="button">Our Locations</button></li>
                <li class="contacts-button__item"><button class="button" type="button">Franchise</button></li>
            </ul>
        </div>
    </div>
</section>