<section id="contacts" class="contacts">
    <div class="container contacts-container">
        <h2 class="section-head--hidded">Locations</h2>
        
            <ul class="contacts__list">
                <li class="contacts__item">
                    <div class="contacts-description">
                        <span class="contacts__locations">CAFE</span>
                        <ul class="contacts-description__list">
                            <li class="contacts-description__item">
                                <p class="contacts__information">Chicago</p>
                                <p class="contacts__detail">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="contacts-description__item">
                                <ul class="contacts-schedule__list">
                                    <li class="contacts__information">
                                        <p>Monday - Friday</p>
                                        <p class="contacts__information--color-pink">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li class="contacts__information">
                                        <p>Saturday - Sunday</p>
                                        <p class="contacts__information--color-pink">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="contacts-description__item">
                                <p><a class="contacts__detail" href="tel:+610383766284">+61(0) 383 766 284</a></p>
                                <p><a class="contacts__detail" href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="contacts-description">
                        <span class="contacts__locations contacts__locations--background-color-green">FOODTRUCK</span>
                        <ul class="contacts-description__list">
                            <li class="contacts-description__item">
                                <p class="contacts__information">Los Angeles</p>
                                <p class="contacts__detail">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="contacts-description__item">
                                <ul class="contacts-schedule__list">
                                    <li class="contacts__information">
                                        <p>Monday - Friday</p>
                                        <p class="contacts__information--color-pink">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li class="contacts__information">
                                        <p>Saturday - Sunday</p>
                                        <p class="contacts__information--color-pink">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="contacts-description__item">
                                <p><a class="contacts__detail" href="tel:+610383766284">+61(0) 383 766 284</a></p>
                                <p><a class="contacts__detail" href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="contacts-description">
                        <span class="contacts__locations">CAFE</span>
                        <ul class="contacts-description__list">
                            <li class="contacts-description__item">
                                <p class="contacts__information">New York</p>
                                <p class="contacts__detail">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                            </li>
                            <li class="contacts-description__item">
                                <ul class="contacts-schedule__list">
                                    <li class="contacts__information">
                                        <p>Monday - Friday</p>
                                        <p class="contacts__information--color-pink">06:00 AM - 10:00 PM</p>
                                    </li>
                                    <li class="contacts__information">
                                        <p>Saturday - Sunday</p>
                                        <p class="contacts__information--color-pink">08:00 AM - 16:00 PM</p>
                                    </li>
                                </ul>
                            </li>
                            <li class="contacts-description__item">
                                <p><a class="contacts__detail" href="tel:+610383766284">+61(0) 383 766 284</a></p>
                                <p><a class="contacts__detail" href="mailto:noreply@envato.com">noreply@envato.com</a></p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        
        <div class="contacts-button">
            <ul class="contacts-button__list">
                <li class="contacts-button__item"><button data-modal-open class="button button--invert" type="button">Our Locations</button></li>
                <li class="contacts-button__item"><button data-modal-open_two class="button" type="button">Franchise</button></li>
            </ul>
        </div>
    </div>
</section>

<!--Модальне вікно1-->

<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal__button_close" data-modal-close >
            <svg width=16px height=16px>
                <use href="./images/icons/sprite.svg#icon-close">
            </svg>            
        </button>    
        <form action="#" class="modal-form" >
            <a href="#" class="form-link">
                <img src="./images/contacts/map.jpg" alt="mapa" max-width=450>
            </a>
        </form>
    </div>
</div>

    <!--Модальне вікно2-->

<div class="backdrop is-hidden" data-modal-two>
    <div class="modal">
        <button type="button" class="modal__button_close" data-modal-close_two >
            <img src="./images/contacts/close.png">        
        </button>
        <form action="#" class="modal-form" >
        <a href="#" class="form-link">
            <div class="modal-image">
                <img src="./images/contacts/store-franchise.png" alt="franchise" max-width=450 >
            </div>
        </a>
        </form> 
    </div>
</div>

    <!--Модальне вікно

<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <p></p>
    <button class="modal__button_close" data-modal-close >
        <a>
            <img src="./images/contacts/close.png">
        </a>
    </button>
    
    <form action="#" class="modal-form" >
        <p class="modal-title">Welcome to our website. Leave your details, we'll call you very soon</p>
        <label class="modal-field">
            first name
            <span class="modal-field-wrap">
                <input type="text" name="user-name" class="modal-input" required>
                    <a href="#" class="form-link">
                        <img src="./images/contacts/name.png" alt="name" width=20 height=20>
                    </a>
            </span>
        </label>
        <label class="modal-field">
            phone number
            <span class="modal-field-wrap">
                <input type="tel" name="user-phone" class="modal-input" required>
                    <a href="#" class="form-link">
                        <img src="./images/contacts/tel.png" alt="tel" width=20 height=20>
                    </a>
        </span>
        </label>
        <label class="modal-field">
            email
            <span class="modal-field-wrap">
                <input type="email" name="user-mail" class="modal-input">
                    <a href="#" class="form-link">
                        <img src="./images/contacts/mail.png" alt="mail" width=20 height=20>
                    </a>
        </span>
        </label>
        <label class="modal-field">
            describe your question or suggestion
            <textarea name="user-comment" class="modal-textarea" placeholder="describe here"></textarea>
        </label>
        <label class="checkbox-field">
            <input type="checkbox" name="user-agree" class="checkbox" required>
                    <span class="checkbox-icon"></span>  
                <p class="conditions">I agree with the mailing and accept</p> <a href=""><p class="conditions-accent">Terms and conditions</p></a>
            </label>
        </label>
        <button type="submit" class="modal__button"><p>Send</p></button>
    </form>
    </div>-->
