<section class="reviews" id="reviews">
  <h2 class="section-head section-head--hidded">Customer-reviews</h2>

  <ul class="customer-reviews">
    <li class="customer">
      <div class="customer__review">
        <picture class="customer__image">
          <img
            srcset="
              ./images/customer-reviews/testimonials1-min.png    1x,
              ./images/customer-reviews/testimonials1@2x-min.png 2x
            "
            alt="Emily"
          />
        </picture>
        <div class="review">
          <div class="review__text">
            <p class="text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
        <span class="customer__name">Emily, Los Angeles</span>
      </div>
    </li>
    <li class="customer">
      <div class="customer__review">
        <picture class="customer__image">
          <img
            srcset="
              ./images/customer-reviews/testimonials2-min.png    1x,
              ./images/customer-reviews/testimonials2@2x-min.png 2x
            "
            alt="Jackie"
          />
        </picture>
        <div class="review">
          <div class="review__text">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa facilis iure corporis
              eos! Voluptate adipisci aperiam nihil suscipit error laboriosam repellendus facere,
              illum omnis sint. Ut eligendi iure esse fuga.
            </p>
          </div>
        </div>
        <span class="customer__name">Jackie, Las Vegas</span>
      </div>
    </li>
    <li class="customer">
      <div class="customer__review">
        <picture class="customer__image">
          <img
            srcset="
              ./images/customer-reviews/testimonials3-min.png    1x,
              ./images/customer-reviews/testimonials3@2x-min.png 2x
            "
            alt="Emma"
          />
        </picture>
        <div class="review">
          <div class="review__text">
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati error illo
              temporibus, reiciendis harum nemo, eum atque eos, vero unde officiis ea amet sunt id
              iste quaerat sequi porro ipsum facere commodi hic ad mollitia. Dolore aut et sapiente
              cumque.
            </p>
          </div>
        </div>
        <span class="customer__name">Emma, New York</span>
      </div>
    </li>
  </ul>
</section>
