<ul class="customer-reviews">
    <li class="customer">
        <div class="customer__review">
            <img src="./images/customer-reviews/testimonials1-min.png" alt="Emily" class="customer__image">
            <div class="review">
                <div class="review__text">
                    <p class="text">Nullam viverra <br /> consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                        hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
            </div>
            <span class="customer__name">Emily, Los Angeles</span>
        </div>
    </li>
    <li class="customer">
        <div class="customer__review">
            <img src="./images/customer-reviews/testimonials2-min.png" alt="Jackie" class="customer__image">
            <div class="review">
                <div class="review__text">
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque adipisci cupiditate fugit? Eius, iste facilis?</p>
                </div>
            </div>
            <span class="customer__name">Jackie, Las Vegas</span>
        </div>
    </li>
    <li class="customer">
        <div class="customer__review">
            <img src="./images/customer-reviews/testimonials3-min.png" alt="Emma" class="customer__image">
            <div class="review">
                <div class="review__text">
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, doloremque?</p>
                </div>
            </div>
            <span class="customer__name">Emma, New York</span>
        </div>
    </li>
</ul>