<!-- Зразок заголовка секції -->
<div class="section-head">
  <span class="section-head__label">label </span>
  <h2 class="section-head__title">title</h2>
</div>
<!-- Зразок прихованого заголовка секції -->
<div class="section-head section-head--hidded">
  <span class="section-head__label">label </span>
  <h2 class="section-head__title">title</h2>
</div>

<!-- Кнопки -->
<!-- звичайна, світла -->
<button class="button">Franchise</button>
<!-- інвертована, темно-рожева -->
<button class="button button--invert">Our Locations</button>
<!-- широка (в секції About) -->
<button class="button button--wide">example three</button>
<!-- маленька, із стрілкою -->
<button class="button button--small"></button>
<!-- дуже маленька -->
<button class="button button--extra-small"></button>

<article class="example">
  <h1>HTML-фрагменты</h1>

  <!-- Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
  <img src="images/demo.jpg" alt="" width="320" />
  <p>
    Плагин
    <a
      href="https://github.com/posthtml/posthtml-include"
      target="_blank"
      rel="noopener noreferrer"
    >
      posthtml-include
    </a>
    позволяет добавлять в HTML-файлы страниц код из других HTML-файлов (фрагментов). Фрагменты
    хранятся в папке
    <code>src/partials</code>. Добавление происходит при компиляции файлов страниц, например
    <code>index.html</code>.
  </p>

  <p>
    Этот файл <code>example.html</code> &mdash; пример такого фрагмента, с разметкой определённой
    части главной страницы. Это очень удобно при командной разработке на студенческих проектах,
    когда в одном HTML-файле пишет несколько человек сразу.
  </p>

  <p>
    Синтаксис добавление фрагмента в главный файл:
    <code> &lt;include src="./partials/имя-файла.html"&gt;&lt;/include&gt; </code>
  </p>

  <div class="background"></div>
</article>
