<footer class="footer">
    <div class="container">
        <div class="section-head">
            <span class="section-head__label">
                homemade ice cream made
            </span>
            <h2 class="section-head__title">
                with passion
            </h2>
        </div>
        <div class="footer__feedback">
            <ul class="social-list">
                <li class="social-list__item">
                    <a href="#" class="social-list__link">
                        <svg width="20px" height="20px" class="social-list__icon">
                            <use href="./images/icons/sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item">
                    <a href="#" class="social-list__link">
                        <svg width="20px" height="20px" class="social-list__icon">
                            <use href="./images/icons/sprite.svg#icon-telegram"></use>
                        </svg>
                </li>
                <li class="social-list__item">
                    <a href="#" class="social-list__link">
                        <svg width="20px" height="20px" class="social-list__icon">
                            <use href="./images/icons/sprite.svg#icon-facebook"></use>
                        </svg>
                </li>
            </ul>
            <address class="footer__address">
                <p>Feel free to contact 
                <a href="tel:+610383766284">+61 (0) 383 766 284</a></p>
            </address>
        </div>
            <p class="footer__copyright">
                &#169; 2019 - IceCream. All Rights Reserved. 
            </p>
    </div>
</footer>