<section class="gallery">
  <div class="container--gallery_two">
    <h2 class="section-head--hidded">Gallery</h2>
    <ul class="gread__list">
      <li class="gread__item gread__item-1">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery_two/img1-1x.jpg 1x, ./images/gallery_two/img1-2x.jpg 2x"
            alt="ice cream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-2">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery_two/img2-1x.jpg 1x, ./images/gallery_two/img2-2x.jpg 2x"
            alt="ice cream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-3">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery_two/img3-1x.jpg 1x, ./images/gallery_two/img3-2x.jpg 2x"
            alt="ice cream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-4">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery_two/img4-1x.jpg 1x, ./images/gallery_two/img4-2x.jpg 2x"
            alt="ice cream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-5">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery_two/img5-1x.jpg 1x, ./images/gallery_two/img5-2x.jpg 2x"
            alt="happy women"
          />
        </div>
      </li>
      <li class="gread__item gread__item-6">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery_two/img6-1x.jpg 1x, ./images/gallery_two/img6-2x.jpg 2x"
            alt="ice cream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-7">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery_two/img7-1x.jpg 1x, ./images/gallery_two/img7-2x.jpg 2x"
            alt="ice cream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-8">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery_two/img8-1x.jpg 1x, ./images/gallery_two/img8-2x.jpg 2x"
            alt="dog"
          />
        </div>
      </li>
      <li class="gread__item gread__item-9">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery_two/img9-1x.jpg 1x, ./images/gallery_two/img9-2x.jpg 2x"
            alt="ice cream"
          />
        </div>
      </li>
      <li class="gread__item gread__item-10">
        <div class="masonry__thumb card">
          <img
            class="masonry__img card__inner"
            srcset="./images/gallery_two/img10-1x.jpg 1x, ./images/gallery_two/img10-2x.jpg 2x"
            alt="ice cream"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
