<section class="section">
  <div class="gallery">
    <h2 class="visually-hidden">Gallery</h2>
    <picture class="gallery__thumb">
      <source
        media="(min-width: 788px)"
        srcset="./images/gallery/gallery-lap-1x.jpg 1x, ./images/gallery/gallery-lap-2x.jpg 2x"
      />
      <source
        media="(min-width: 326px)"
        srcset="./images/gallery/gallery-tab-f1x.jpg 1x, ./images/gallery/gallery-tab-f2x.jpg 2x"
      />
      <img
        srcset="./images/gallery/gallery-mob-f1x.jpg 1x, ./images/gallery/gallery-mob-f2x.jpg 2x"
        alt="GALLERY"
      />
    </picture>
  </div>
</section>
