<!-- <header class="header">
  <div class="container">
    <a href="./index.html" class="logo">
      <img src="" alt="Company Logo" class="logo__image" />
    </a>
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">About us</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">How it’s made?</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Our products</a>
        </li>
        <li class="site-nav__item">
          <a href="" class="site-nav__link">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="header__button">Buy now</button>
  </div>
</header> -->
