<!-- <section class="hero">
  <div class="container">
    <div class="section-head">
      <h1 class="section-head__title">
        <span class="section-title__label"> ice cream made with</span>
        passion
      </h1>
      <ul class="section-head__list">
        <li>
          <a href="" class="section-head__link"></a>
        </li>
        <li>
          <a href="" class="section-head__link"></a>
        </li>
      </ul>
    </div>

    <div class="useful-info">
      <img src="" alt="" class="useful-info__image" />
      <p class="useful-info__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="button button--small useful-info__button--small"></button>
    </div>

    <div class="places">
      <ul class="places__list">
        <li class="places__item">
          <p class="places__quantity">16</p>
          <p class="places__text">cafes</p>
        </li>
        <li class="places__item">
          <p class="places__quantity">23</p>
          <p class="places__text">food trucks</p>
        </li>
      </ul>
      <img src="" alt="girl says: so tasty" class="places__image" />
    </div>

    <img src="" alt="largest ice cream" class="hero__main-image" />
  </div>
</section> -->
