<section class="hero">
  <div class="container hero__container">
    <div class="section-head hero__section-head">
      <h1 class="section-head__title section-head__title--master">
        <span class="section-head__label section-head__label--master"> ice cream made with</span>
        passion
      </h1>
      <ul class="section-head__list">
        <li>
          <a href="" class="button button--without-icon">Products</a>
        </li>
        <li>
          <a href="" class="button button--without-icon">How it’s made?</a>
        </li>
      </ul>
    </div>

    <div class="hero__useful-info">
      <img src="" alt="" class="useful-info__image" />
      <p class="useful-info__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="button button--small useful-info__button--small"></button>
    </div>

    <div class="places">
      <ul class="places__list">
        <li class="places__item">
          <p class="places__quantity">16</p>
          <p class="places__text">cafes</p>
        </li>
        <li class="places__item">
          <p class="places__quantity">23</p>
          <p class="places__text">food trucks</p>
        </li>
      </ul>
      <img src="" alt="girl says: so tasty" class="places__image" />
    </div>

    <div class="main-picture">
      <img
        src="./images/hero/largest-icecream-phone@1x.png"
        alt="largest ice cream"
        class="main-picture__image"
      />
    </div>
  </div>
</section>
