<!-- Burger and Smooth Scroll -->
<script src="./js/burger-and-scroll.js"></script>
<script src="./js/modal-shop.js"></script>
<script src="./js/more-modal.js"></script>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"
  integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ=="
  crossorigin="anonymous"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="./js/slick-carousel.js"></script>

<script src="./index.js"></script>

<!-- button to top -->
<script src="./js/button-top.js"></script>
<!-- counter -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="./js/jquery.counterup.min.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<script>
  jQuery(document).ready(function ($) {
    $('.counter').counterUp({
      delay: 10,
      time: 1000,
    });
  });
</script>

<script src="./js/modal.js"></script>
<script src="./js/modal-two.js"></script>
<!-- button to top -->
<script src="./js/button-top.js"></script>

<!-- counter -->
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"
></script>
<script src="./js/jquery.counterup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script>
  jQuery(document).ready(function ($) {
    $('.counter').counterUp({
      delay: 10,
      time: 1000,
    });
  });
</script>

<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"
  type="text/javascript"
></script>
<script src="./js/viueportCheker.js"></script>
<script src="./js/gallery_two.js"></script>
