<section class="products"  id="products">
    <div class=" products__container">
            <div class="section-head">
                <span class="section-head__label">100% NATURAL </span>
                <h2 class="section-head__title">PRODUCTS</h2>
            </div>
            <ul class="products__list">
                    <li class="products__item products__item--pink" >
                        <article class="products__card">
                            <h3 class="products__title">ice cream</h3>
                            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            <div class="products__button">
                                <button class="button button--small"></button>
                            </div>
                        </article>
                    </li>
                    <li class="products__item products__item--brown">
                        <article>
                            <h3 class="products__title">ice coffee</h3>
                            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            <div class="products__button">
                                <button class="button button--small"></button>
                            </div>
                        </article>
                    </li>
                    <li class="products__item products__item--green">
                        <article>
                            <h3 class="products__title">milkshakes</h3>
                            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            <div class="products__button">
                                <button class="button button--small"></button>
                            </div>
                        </article>
                    </li>
            </ul>
    </div>
</section>