<section class="products">
    <div class="container">
            <div class="section-head">
                <span class="section-head__label">100% NATURAL </span>
                <h2 class="section-head__title caption ">PRODUCTS</h2>
            </div>
            <ul class="products__list">
                    <li class="products__item">
                        <article class="products__card">
                            <h3 class="products__title products__title--rose">ICE CREAM</h3>
                            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                            <button class="button button--small">
                                <svg class="button__icon" width="13" height="14">
                                    <use href="./images/icons/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </article>
                    </li>
                    <li class="products__item">
                        <article>
                            <h3 class="products__title products__title--brown">ICE COFFEE</h3>
                            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                            <button class="button button--small">
                                <svg class="button__icon" width="13" height="14">
                                    <use href="./images/icons/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </article>
                    </li>
                    <li class="products__item">
                        <article>
                            <h3 class="products__title products__title--green">MILKSHAKE</h3>
                            <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                            <button class="button button--small">
                                <svg class="button__icon" width="13" height="14">
                                    <use href="./images/icons/sprite.svg#icon-arrow-right"></use>
                                </svg>
                            </button>
                        </article>
                    </li>
            </ul>
    </div>
</section>