<section class="products">
    <div class="container">
            <div class="section-head">
                <span class="section-head__label">100% NATURAL </span>
                <h2 class="section-head__title">PRODUCTS</h2>
            </div>
            <ul class="products__list">
                    <li class="products__item">
                        <article>
                            <h3 class="products__title">ICE CREAM</h3>
                            <p class="products__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, aliquid, libero sapiente aperiam consequatur numquam
                            molestiae earum nobis eius architecto esse repellat qui cum! Ratione totam ipsam itaque assumenda cum.</p>
                            <button type="button"></button>
                        </article>
                    </li>
                    <li class="products__item">
                        <article>
                            <h3 class="products__title">ICE COFFEE</h3>
                            <p class="products__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, aliquid, libero sapiente aperiam consequatur
                                numquam
                                molestiae earum nobis eius architecto esse repellat qui cum! Ratione totam ipsam itaque assumenda cum.</p>
                            <button type="button"></button>
                        </article>
                    </li>
                    <li class="products__item">
                        <article>
                            <h3 class="products__title">MILKSHAKE</h3>
                            <p class="products__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, aliquid, libero sapiente aperiam consequatur
                                numquam
                                molestiae earum nobis eius architecto esse repellat qui cum! Ratione totam ipsam itaque assumenda cum.</p>
                            <button type="button"></button>
                        </article>
                    </li>
            </ul>
    </div>
</section>