.totop {
  position: fixed;
  display: inline-block;
  bottom: 30px;
  right: -40px;
  width: 40px;
  height: 40px;
  z-index: 35;
  cursor: pointer;
  text-align: center;
  color: #ffb8ca;

  // border-radius: 4px;
  // background: $bgSecondaryColor;
  // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.totop:hover {
  background: $bgSecondaryColor;
}

.totop img {
  position: relative;
  color: $bgAccentColor;
  transition: all 0.3s ease-in-out;
}

.totop:hover img {
  cursor: pointer;
  color: $bgAccentColor;
  transition: all 0.3s ease-in-out;
}

.totop.show {
  opacity: 1;
  visibility: visible;
  right: calc(2%);
}

.button__top {
  display: flex;
  justify-content: center;
  text-transform: lowercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: $accentColor;
  // background-color: $bgSecondaryColor;
  cursor: pointer;
}
