.button {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  min-width: 162px;
  padding: 14px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  // line-height: 1.125;
  // line-height: 1.3125;
  text-transform: capitalize;

  color: $accentColor;
  background-color: $bgPrimaryColor;

  cursor: pointer;
  border: none;
  border-radius: 22px;

  &::after {
    content: '';
    width: 6px;
    height: 1em;
    margin-left: 10px;

    background-image: url(../images/icons/buttons/arrow-small.svg);
    background-repeat: no-repeat;
    background-position: 50% 72%;
  }

  &:hover,
  &:focus {
    background-color: $bgBtnHover;
  }

  @media screen and (min-width: 768px) {
    padding: 14px 32px;
  }

  @media screen and (min-width: 1280px) {
    padding: 14px 37px;
  }
}

.button--invert {
  color: $lightTextColor;
  background-color: $accentColor;

  &::after {
    background-image: url(../images/icons/buttons/arrow-small-inv.svg);
  }

  &:hover,
  &:focus {
    background-color: $bgBtnInvertHover;
  }
}

.button--wide {
  min-width: 176px;
  font-size: 14px;
  padding: 15px 0;
  line-height: 1;
  // line-height: 1.286;

  @media screen and (min-width: 768px) {
    padding: 14px 0;
    font-size: 16px;
  }
}

.button--small {
  align-items: center;
  padding: 0;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;

  &::after {
    content: '';
    width: 11px;
    height: 10px;
    margin-left: 0;
    background-image: url(../images/icons/buttons/arrow-large.svg);
    background-position: 50% 50%;
  }

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}

// .button--fixed {
//   height: 44px;
//   min-width: 160px;
//   text-transform: none;

//   &:hover {
//     background-color: green;
//   }

//   &-invert {
//     background-color: $accentColor;
//   }
//   &:hover,
//   &:focus {
//     background-color: $bgBtnInvertHover;
//   }
// }

.button--mobile-menu {
  width: 210px;
  text-transform: none;
  margin: 0 auto;
}
