.button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 161.45px;
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  text-transform: capitalize;

  color: $accentColor;
  background-color: $bgPrimaryColor;

  cursor: pointer;
  border: none;
  border-radius: 22px;

  &:hover,
  &:focus {
    background-color: $bgBtnHover;
  }

  @media screen and (min-width: 768px) {
    padding: 0 37px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0 40px;
  }
  &--invert {
    color: $lightTextColor;
    background-color: $accentColor;

    &:hover,
    &:focus {
      background-color: $bgBtnInvertHover;
    }
  }

  &--small {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;

    @media screen and (min-width: 768px) {
      padding: 0;
    }
  }

  &--wide {
    min-width: 176px;
    font-size: 14px;
    line-height: 1.286;
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.3125;
    }
  }
}
