.button {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  min-width: 162px;
  padding: 13px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  // line-height: 1.3125;
  text-transform: capitalize;

  color: $accentColor;
  background-color: $bgPrimaryColor;

  cursor: pointer;
  border: none;
  border-radius: 22px;

  &::after {
    content: '';
    width: 6px;
    height: 1.125em;
    margin-left: 10px;

    background-image: url(../images/icons/buttons/arrow-small.svg);
    background-repeat: no-repeat;
    background-position: 50% 70%;
  }

  &:hover,
  &:focus {
    background-color: $bgBtnHover;
  }

  @media screen and (min-width: 768px) {
    padding: 0 37px;
  }

  @media screen and (min-width: 1280px) {
    padding: 0 40px;
  }

  &--without-icon {
    min-width: 100%;
    padding: 6px 14px;

    font-size: 8px;
    line-height: 1.25;
  }
}

.button--invert {
  color: $lightTextColor;
  background-color: $accentColor;

  &::after {
    background-image: url(../images/icons/buttons/arrow-small-inv.svg);
  }

  &:hover,
  &:focus {
    background-color: $bgBtnInvertHover;
  }
}

.button--wide {
  min-width: 176px;
  font-size: 14px;
  padding: 14px 0;
  // line-height: 1.286;

  // &::after {
  //   height: 1.286em;
  // }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.3125;
  }
}

.button--small {
  align-items: center;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;

  &::after {
    content: '';
    width: 11px;
    height: 10px;
    margin-left: 0;
    background-image: url(../images/icons/buttons/arrow-large.svg);
    background-position: 50% 50%;
  }

  @media screen and (min-width: 768px) {
    padding: 0;
  }
}
