.contacts-container {
  padding: 0 50px;
  @media screen and (min-width: 768px) {
    padding: 0 34px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 115px;
  }
}
.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
  margin-bottom: 54px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-left: -20px;
    margin-bottom: 80px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -30px;
    margin-bottom: 85px;
  }
}
.contacts__item {
  margin-bottom: 20px;
  width: 100%;
  @media screen and (min-width: 480px) {
    max-width: 400px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 3 * 20px) / 3);
    margin-left: 20px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
  }
}

.contacts__locations {
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  background-color: #f0d1a5;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.contacts__locations--background-color-green {
  background-color: #c2e297;
}
.contacts-description {
  @media screen and (min-width: 1280px) {
    width: 330px;
  }
  height: auto;
  padding: 43px 20px 43px 20px;
  @media screen and (min-width: 768px) {
    padding: 50px 30px 50px 30px;
  }
  @media screen and (min-width: 1280px) {
    padding: 50px 40px 50px 40px;
  }
  box-sizing: border-box;
  text-align: left;
  border-radius: 24px;
  background-color: $bgPrimaryColor;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
.contacts-description__item {
  margin-top: 50px;
  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
  position: relative;
  &::after {
    position: absolute;
    content: '';
    bottom: -25px;
    @media screen and (min-width: 1280px) {
      bottom: -33px;
    }
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
  }
}
.contacts-description__item {
  &:first-child {
    margin-top: 25px;
    @media screen and (min-width: 768px) {
      margin-top: 30px;
    }
  }
}
.contacts-description__item {
  &:last-child {
    &::after {
      visibility: hidden;
    }
  }
}
.contacts__information {
  margin-bottom: 10px;
  color: $darkTextColor;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
  line-height: 1.86;
  letter-spacing: 0.04em;
}
.contacts__information--color-pink {
  color: $accentTextColor;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}
.contacts__detail {
  color: $middleTextColor;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.contacts {
  background-repeat: no-repeat;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 245, 246, 1) 5%,
    rgba(255, 245, 246, 1) 95%
  );
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 15%,
      rgba(255, 245, 246, 1) 15%,
      rgba(255, 245, 246, 1) 85%
    );
  }
  @media screen and (min-width: 1200px) {
    background-image: url('../images/contacts/contacts-background-min.png'),
      linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 15%,
        rgba(255, 245, 246, 1) 15%,
        rgba(255, 245, 246, 1) 85%
      );
    background-position: 0 37%;
  }
}

//buttons//
.contacts-button__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -10px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -15px;
    justify-content: center;
  }
}
.contacts-button__item {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 407px) / 2);
    margin-left: 15px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 902px) / 2);
  }
  button {
    width: 200px;
  }
}

//modal//
.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  z-index: 20;
  pointer-events: none;
  .modal {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
.modal {
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  padding: 15px;
  padding-top: 50px;
  transform: translate(-50%, -50%);
  width: 100vw;
  //   height: 100vw;
  background-color: $bgPrimaryColor;
  transform: translate(-50%, -50%) scale(1) perspective(600px) rotateY(45eg);
  opacity: 1;
  transition: scale 1200ms cubic-bezier(0.4, 0, 0.2, 1), opacity 1200ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
    // height: 450px;
  }
  @media screen and (min-width: 1280px) {
    width: 480px;
    // height: 450px;
  }
}
.form-link {
  //   position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  max-height: 900px;
  //   transform: translateY(-50%);
  //   top: 50%;
  left: 18px;
  @media screen and (max-width: 479px) {
    left: 0;
  }
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-image {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.modal-form img {
  text-align: center;
  object-fit: fill;
}
.modal__button_close {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
  border: none;

  background: none;
  cursor: pointer;
}

.modal__button {
  align-self: center;
  width: 200px;
  height: 50px;
  padding: 10px 50px;
  margin-top: 30px;
  background: #e2476c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $bgBtnInvertHover;
  }
  p {
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 00.06em;
    color: $bgPrimaryColor;
  }
}

/*modal-form*/
.modal-title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: rgba(199, 19, 62, 0.6);
  @media screen and (min-width: 480px) {
    font-size: 20px;
    line-height: 1.172;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.172;
  }
}

.modal-field {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 1.172;
  letter-spacing: 0.01em;
  color: gray;
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  padding: 12px 16px 12px 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: #e2476c;
  }
}
.modal-input:focus + .form-link {
  fill: #e2476c;
}
.modal-field-wrap {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: #e2476c;
  }
}
::placeholder {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.333;
  letter-spacing: 0.01em;
  color: $bgPrimaryColor;

  color: rgba(117, 117, 117, 0.5);
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
}
.checkbox-field {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 13px;
}
.checkbox {
  appearance: none;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: white;
  border: 2px solid grey;
  border-radius: 2px;
  margin-right: 9px;
}
.checkbox:checked + .checkbox-icon {
  background-color: #e2476c;
  border-color: #e2476c;
  background-image: url(../images/contacts/check-vector.svg);
  background-size: contain;
  background-origin: border-box;
}
.conditions {
  font-weight: 500;
  font-style: normal;
  font-size: 6px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: gray;

  @media screen and (min-width: 480px) {
    font-size: 10px;
    line-height: 1.172;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.714;
  }
}
.conditions-accent {
  font-weight: 500;
  font-style: normal;
  font-size: 6px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: #e2476c;
  text-decoration: underline;
  padding-left: 2px;
  @media screen and (min-width: 480px) {
    font-size: 10px;
    line-height: 1.172;
    padding-left: 3px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.714;
    padding-left: 5px;
  }
}
