.contacts__title{
    visibility: hidden;
}

.contacts__item__locations{
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    background-color:#F0D1A5;;
    padding-left: 25px;
    padding-right: 25px;
}
