.customer-reviews {
  list-style: none;
  overflow: hidden;
  padding-top: 80px;
  padding-bottom: 86px;

  @media screen and (min-width: 768px) {
    padding-top: 121px;
    padding-bottom: 119px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 123px;
    padding-bottom: 132px;
  }
}

.customer__review {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 90%;
  margin: 0 300px;
}

.customer__image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.review {
  position: relative;
  //   display: block;
  padding-top: 43px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  background-color: #fafafa;
  margin: 0 auto;

  margin-bottom: 18px;

  @media screen and (max-width: 480px) {
    width: 90vw;
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    max-width: 432px;
  }

  @media screen and (min-width: 768px) {
    max-width: 692px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1152px;
  }

  &__text {
    position: relative;
    background-image: repeating-linear-gradient(
      rgba(250, 250, 250, 0),
      rgba(250, 250, 250, 0) 30px,
      #e1e1e1 30px,
      #e1e1e1 31px
    );

    @media screen and (min-width: 768px) {
      background-image: repeating-linear-gradient(
        rgba(250, 250, 250, 0),
        rgba(250, 250, 250, 0) 28px,
        #e1e1e1 28px,
        #e1e1e1 29px
      );
    }

    @media screen and (min-width: 1280px) {
      background-image: repeating-linear-gradient(
        rgba(250, 250, 250, 0),
        rgba(250, 250, 250, 0) 27px,
        #e1e1e1 27px,
        #e1e1e1 28px
      );
    }
  }

  & .text {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 265%;
    text-align: center;
    color: #000000;
    z-index: 15;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 216%;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: 186%;
    }
  }

  &::before {
    content: '';
    width: 54px;
    height: 40px;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/customer-reviews/quotes-min.png);
    display: block;
    position: absolute;
    top: 28px;
    left: 61px;
    // z-index: 10;
  }
}

.customer__name::before {
  content: '';
  width: 32px;
  height: 4px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/customer-reviews/Group8_min.svg);
  display: block;
}

.slick-track {
  display: flex;
}

.slick-dots .slick-active {
  width: 13px;
  height: 12px;
  border-radius: 0%;
  // background-image: url(../images/customer-reviews/Vector.png);
  background-image: url(../images/customer-reviews/Vector_min.svg);
  background-repeat: no-repeat;

  & button {
    opacity: 0;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &:not(:last-child) {
    margin-right: 18px;
    border-radius: 50%;
  }

  & li {
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  & button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: rgba(217, 217, 217, 0.555);
    color: rgba(217, 217, 217, 0);
  }
}
