.footer {
  background-color: $bgSecondaryColor;
  padding-top: 113px;
  padding-bottom: 25px;
  &__container {
    .section-head--footer {
      margin-left: 0px;
      margin-bottom: 43px;
    }
  }
}
.section-head--footer {
  width: 234px;
  .section-head__label {
    text-align: start;
  }
  .section-head__title {
    text-align: start;
  }
}
.footer__feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  margin-bottom: 43px;
}
.social-list {
  display: flex;
  margin-left: -28px;
  margin-bottom: 46px;
  &__item {
    margin-left: 28px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $bgPrimaryColor;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $iconLightColor;
  }
  &__icon {
    fill: inherit;
  }
}
.footer__address {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  color: $darkTextColor;
}
.footer__tel {
  color: $accentColor;
}
.footer__copyright {
  &::before {
    content: '';
    display: block;
    border: 1px solid #e1e1e1;
    margin-bottom: 22px;
  }
  text-align: center;
}
.footer__license {
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px;
  width: 150px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  color: $middleTextColor;
}
