//animation-social-icon//
@keyframes social-icon-anime {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 44, 97, 0.5);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 15px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
///
.footer {
  background-color: $bgSecondaryColor;
  padding-top: 113px;
  padding-bottom: 25px;
  @media screen and(min-width:768px) {
    padding-top: 158px;
    padding-bottom: 18px;
  }
  @media screen and(min-width:1280px) {
    padding-top: 165px;
    padding-bottom: 10px;
  }
  &__container {
    min-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    @media screen and(min-width:480px) {
      max-width: 480px;
    }
    @media screen and(min-width:768px) {
      max-width: 768px;
      padding: 0 36px;
    }
    @media screen and(min-width:1280px) {
      max-width: 1280px;
      padding: 0 115px;
    }
    .section-head--footer {
      margin-left: 0px;
      margin-bottom: 43px;
      @media screen and(min-width:768px) {
        margin-bottom: 91px;
      }
      @media screen and(min-width:1280px) {
        margin-bottom: 97px;
      }
    }
    .section-head__label--footer {
      @media screen and(min-width:1280px) {
        font-size: 30px;
        line-height: 1.133;
        letter-spacing: 0.04em;
      }
    }
    .section-head__title--footer {
      font-weight: normal;
      @media screen and(min-width:1280px) {
        font-size: 58px;
        line-height: 1.138;
        letter-spacing: 0.06em;
      }
    }
    @media screen and(min-width:768px) {
      display: flex;
    }
  }
}
.section-head--footer {
  width: 234px;
  @media screen and(min-width:768px) {
    width: 340px;
  }
  @media screen and(min-width:1280px) {
    width: 477px;
  }
  .section-head__label {
    text-align: start;
  }
  .section-head__title {
    text-align: start;
  }
}
.footer__feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  margin-bottom: 43px;
}
.social-list {
  display: flex;
  margin-left: -28px;
  margin-bottom: 46px;
  @media screen and(min-width:1280px) {
    margin-bottom: 50px;
  }
  &__item {
    margin-left: 28px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $bgPrimaryColor;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $iconLightColor;
    animation: social-icon-anime 2000ms infinite 750ms;
    @media screen and(min-width:768px) {
      width: 34px;
      height: 34px;
    }
    &:hover,
    &:focus {
      background-color: $accentColor;

      transform: scale(1.2);
    }
  }
  &__icon {
    fill: inherit;
    stroke: none;
  }
}
.footer__address {
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  color: $darkTextColor;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  @media screen and(min-width:768px) {
    font-size: 14px;
  }
  @media screen and(min-width:768px) {
    font-size: 16px;
  }
}
.footer__tel {
  color: $accentColor;
}
.footer__copyright {
  &::before {
    content: '';
    display: block;
    border: 1px solid #e1e1e1;
    margin-bottom: 22px;
    @media screen and(min-width:768px) {
      margin-bottom: 29px;
    }
    @media screen and(min-width:1280px) {
      margin-bottom: 9px;
    }
  }
  text-align: center;
}
.footer__license {
  margin-left: auto;
  margin-right: auto;
  padding: 0 5px;
  width: 150px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.52;
  color: $middleTextColor;
  @media screen and(min-width:768px) {
    width: 100%;
    line-height: 1.86;
  }
}
