.hero {
  // min-height: 502px;
  background-color: $bgAccentColor;
  overflow: hidden;
  position: relative;
}

.hero__container {
  position: relative;

  max-width: 87.5%;
  min-height: 502px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    max-width: 440px;
  }

  @media screen and (min-width: 768px) {
    max-width: 700px;
    min-height: 400px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1050px;
    min-height: 665px;
  }
}

.hero__section-head {
  position: absolute;
  z-index: 7;
  width: 220px;
  left: 0;
  bottom: 160px;

  @media screen and(min-width: 768px) {
    bottom: 173px;
    width: 170px;
  }

  @media screen and(min-width: 1280px) {
    bottom: 292px;
    left: 0;

    width: 280px;
  }
}

.useful-info {
  display: none;
  position: absolute;
  z-index: 6;

  @media screen and(min-width: 768px) {
    display: flex;
    align-items: flex-end;
    left: 0;
    bottom: 28px;
    max-width: 240px;
  }

  @media screen and(min-width: 1280px) {
    left: 0;
    bottom: 45px;
    max-width: 420px;
  }

  &__picture {
    width: 120px;
    height: 126px;

    @media screen and(min-width: 1280px) {
      width: 188px;
      height: 191px;
    }
  }

  &__description {
    max-width: 120px;
    padding-bottom: 6px;

    @media screen and(min-width:1280px) {
      max-width: 200px;
      margin-left: 30px;
      padding-bottom: 11px;
    }
  }

  &__text {
    margin-bottom: 7px;

    font-size: 8px;
    line-height: 1.5;
    color: $lightTextColor;

    @media screen and(min-width:1280px) {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

.places {
  display: none;

  min-width: 168px;
  min-height: 303px;

  @media screen and(min-width: 768px) {
    display: block;
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    // right: 10px;
    // bottom: 205px;
  }

  @media screen and(min-width: 1280px) {
    min-width: 402px;
    min-height: 505px;
  }

  &__list {
    position: relative;
    height: 88px;
    min-width: 40px;

    @media screen and(min-width: 1280px) {
      height: 160px;
      min-width: 75px;
    }
  }

  &__item {
    position: absolute;
    z-index: 12;
    bottom: 0;
    right: 10px;

    height: 42px;
    min-width: 45px;

    @media screen and(min-width: 1280px) {
      height: 69px;
      min-width: 75px;

      right: 18px;
    }

    &::after {
      content: '';

      position: absolute;
      z-index: 4;
      top: -2px;
      right: -10px;

      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $lightTextColor;

      @media screen and(min-width: 1280px) {
        width: 30px;
        height: 30px;
        top: -4px;
        right: -18px;
      }
    }
  }

  &__item:first-child {
    top: 0;
    // right: 10px;
  }

  &__quantity {
    position: absolute;
    z-index: 5;

    top: 0;
    right: 0;

    font-family: 'Titan One', cursive;
    font-size: 28px;
    line-height: 1.143;
    color: $accentColor;

    letter-spacing: 0.04em;
    text-align: right;
    text-transform: uppercase;

    @media screen and(min-width: 1280px) {
      font-size: 46px;
      line-height: 1.152;
    }
  }

  &__text {
    position: absolute;
    z-index: 13;
    right: 0;
    bottom: 0;

    font-size: 8px;
    line-height: 1.25;
    color: $lightTextColor;

    text-align: right;

    @media screen and(min-width: 1280px) {
      font-size: 14px;
      line-height: 1.286;
    }
  }

  &__picture {
    position: absolute;
    z-index: 3;

    width: 168px;
    height: 133px;

    bottom: 0;
    right: 0;

    @media screen and(min-width: 1280px) {
      width: 293px;
      height: 232px;

      right: 0;
    }
  }
}

.main-picture {
  position: absolute;
  bottom: 0;
  right: 10px;

  width: 171px;
  height: 410px;

  &__image {
    position: absolute;
    z-index: 2;
  }

  @media screen and(min-width: 768px) {
    right: 213px;
    height: 336px;
    width: 143px;
  }

  @media screen and(min-width: 1280px) {
    right: 335px;
    height: 557px;
    width: 236px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    left: -90px;
    z-index: 1;

    width: 346px;
    height: 344px;
    background-color: $accentTextColor;
    border-radius: 50%;

    @media screen and(min-width: 768px) {
      top: -32px;
      left: -71px;

      width: 324px;
      height: 322px;
    }

    @media screen and(min-width: 1280px) {
      top: -56px;
      left: -119px;

      width: 538px;
      height: 538px;

      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: $lightTextColor;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $bgBtnHover;
  }

  @media screen and(min-width: 1200px) {
    min-width: 26px;
    height: 26px;
  }

  // @media screen and (min-width: 768px) {
  //   padding: 0;
  // }

  &::after {
    content: '';
    width: 6px;
    height: 6px;

    background-image: url(../images/icons/buttons/arrow-large.svg);
    background-position: 50% 50%;
    background-size: contain;

    @media screen and(min-width: 1200px) {
      width: 8px;
      height: 8px;
    }
  }
}
